
/*public*/
body {
    min-width: 1200px;
}
@font-face {
    font-family: 'hw';
    src: url('../font/axurehandwriting_1-webfont.eot'); /* IE9*/
    src: url('../font/axurehandwriting_1-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/axurehandwriting_1-webfont.woff') format('woff'), /* chrome、firefox */
    url('../font/axurehandwriting_1-webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/axurehandwriting_1-webfont.svg#axurehandwriting_1-webfont') format('svg'); /* iOS 4.1- */
}
.clearfix{
	zoom: 1;
}
.clearfix:after {
	display: block;
	clear: both;
	content: '';
}
.fl {
	float: left;
}
.fr {
	float: right;
}
/*end public*/
/*导航*/
.nav_w {
	width: 100%;
	background: #fff;
	text-align: center;
	height: 78px;
	z-index: 10;
    position: fixed;
    box-shadow: 0 2px 5px 0px #fff;
    /*min-width: 1200px;*/
    position: relative;
}
.logo {
    position: absolute;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    left: 100px;
    background: #fff url(../images/logo.png) no-repeat center;
    background-size: 60px auto;
}
.navbar {
    display: inline-block;
	margin: 0 auto;
    padding-top: 10px;
}
.navbar>a {
	float: left;
	text-align: center;
    font-size: 30px;
    font-family: 'hw';
    padding: 0px 50px;
    font-weight: bold;
    transition: .5s;
    -webkit-transition: .5s;
}
.navbar>a span {
    transition: .5s;
    -webkit-transition: .5s;
}
.navbar>a span:nth-of-type(1){
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../images/my.png) no-repeat;
    background-size: 40px auto;
    /*display: none;*/
    transform: scale(0);
    transition: .3s;
}
.navbar>a.active span:nth-of-type(1){
    /*display: block;*/
    transform: scale(1);


}
.navbar>a span:nth-of-type(2){
    transform: translateY(-48px) scale(1);
    line-height: 54px;
    display: block;
    color: #45d4bc;
    transition: .3s;   
}
.navbar>a.active span:nth-of-type(2){
    transform: translateY(-30px) scale(.8);
}
.navbar>a.green span:nth-of-type(2){
    color: #45d4bc;
}
.navbar>a.pink span:nth-of-type(2){
    color: #f8c9c5;
}
.navbar>a.purple span:nth-of-type(2){
    color: #a392da;
}

/*end 导航*/
.main {
    padding-top: 80px;
    position: absolute;
    width: 100%;
    min-width: 1200px;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    -webkitbox-sizing: border-box;
    top: 0;
}


.home,.share,.experience {
    height: 100%;
    overflow: auto;
}
/*首页*/
.home {
    width: 100%;
    /*padding-top: 60px;*/
}
.homeWrap {
    background: url(../images/bg_index.png) repeat-x;
    padding-top: 1px;
}
.home_top {
	width: 1100px;
	/*height: 600px;*/
    position: relative;
    margin: 0 auto;

}
.home_top a {
    width: 38px;
    height: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
}
.home_top a.arrow_left {
    left: -40px;
    background: url(../images/arrow_l.png) no-repeat;
}
.home_top a.arrow_right {
    right: -40px;
    background: url(../images/arrow_r.png) no-repeat;
}
.t_con_w {   
    width: 900px;
    height: 420px;
    background: #000;
    /*background: #fff;*/
    margin: 54px auto 0;
    position: relative;
}
.t_con {
    width: 1100px;
    height: 500px;
    background: url(../images/leaf_bg.png) no-repeat;
    background-size: 1100px 500px;
    position: absolute;
    margin-left: -100px;
    margin-top: -54px;
}
.t_con_list_w {
    width: 900px;
    height: 420px;
    /*background-color: rgba(0,0,0,.3);*/
    margin-left: 100px;
    margin-top: 54px; 
    overflow: hidden;
}
.t_con_list {
    width: 1800px;
    height: 420px;
    transition: .6s;
    -webkit-transition: .6s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;

}
.t_con_list li {
    float: left;
    width: 900px;
    height: 100%;
    position: relative;

}
.t_con_list li .homeTop_but{
    font-size: 20px;
    display: inline-block;
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    background: url(../images/icon_begin.png) no-repeat;
    left: 50%;
    top: 50%;
    margin-top: -75px;
    margin-left: -75px;
}
.home_mid {
    position: relative;
}
.home_mid .canvasWaveWrap {
    width: 900px;
    margin: 0 auto 200px;
}
.authorPhoto {
    position: absolute;
    bottom: -108px;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    height: 150pxpx;
    border-radius: 50%;
}
.authorPhoto img{
    width: 100%;
    height: 100%;
}
/*share*/

.share {
    background-color: #FBFBF8;
}
.share_t {
    width: 100%;
    height: 430px;
    background: url(../images/share_bg.png) no-repeat center ;
    background-size: 100% 430px;
    /*border: 1px solid #000;*/
    padding: 1px 0;
}
.share_search_w {
    margin: 150px auto 0;
    border: 1px solid #fff;
    background: rgba(0,0,0,.2);
    width: 540px;
    height: 40px;
}
.share_search_w input {
    background: none;
    border:none;
    width: 85%;
    line-height: 36px;
    padding: 2px 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 18px;
    color: #fff;
}
.share_search_w a {
    width: 15%;
    height: 100%;
    background: url(../images/icon_search.png) no-repeat center ;

}
.splitLine {
    width: 100%;
    height: 30px;
    margin: 20px 0;
    background: url(../images/share_wave.png) repeat-x;

}
/*end share*/
/*experience*/
.experience {
    width: 100%;
    padding-top: 80px;
    /*background: url(../images/exp_bg.png);*/
    overflow: hidden;

}
.expWrap {
    width: 100%;
    height: 100%;
    position: relative;

}
.experience .canvasPlaneWrap {
    width: 900px;
    height: 100%;
    /*margin: 0 auto;*/
    position: absolute;
    left: 50%;
    margin-left: -450px;
}

.block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: filter 2s, transform 1.5s;
    -webkit-transition: -webkit-filter 2s, -webkit-transform 1.5s;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
}
.blur {    
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px);    
}
.block1 {   
    background: url(../images/exp_bg1.png) repeat-x;
    background-size: 1px 100%;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    
}
.block2 {   
    background: url(../images/exp_bg2.png) repeat-x;
    background-size: 1px 100%;
}
.block3 {   
    background: url(../images/exp_bg3.png) repeat-x;
    background-size: 1px 100%;
}

.blockWrap {
    width: 900px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.expDetail {
    width: 300px;
    position: absolute;
   /* background-color: rgba(255,255,255,.3);
    height: 200px;*/
}
.expDetail1 {
    left: 100px;
    top: 60px;
}
.expDetail2 {
    right: 100px;
    top: 300px;
}
.expDetail h3 {
    font-size: 18px;
    color: #666;
    line-height: 30px;
}
.expDetail p {
    text-indent: 2em;
    font-size: 14px;
    line-height: 24px;
    color: #999;
}
.blockDot {
    width: 30px;
    height:90px;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    right: 20px; 
}
.blockDot a{
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    
    
}
.blockDot a span{
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    transition: .4s;
    -webkit-transition: .4s;
    vertical-align: middle;
}
.blockDot a.active span {
    width: 12px;
    height: 12px;
}

.share_list{
    width: 1100px;
    margin:0 auto 20px;
    position: relative;
}
.share_list li{
    position: absolute;
    width: 263px;
    background-color: #fff;
    font-size: 12px;
    /*background-color: #fff;*/
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -webkit-transition: left .3s ease-in-out,top .3s ease-in-out;
    -moz-transition: left .5s ease-in-out,top .5s ease-in-out;
    -o-transition: left .3s ease-in-out,top .3s ease-in-out;
}
.share_list li img{
    width: 263px;
    height: auto;
}
.share_list li .info{
    /*height: 100px;*/
    padding: 0 20px;
}
.share_list li .title{
    line-height: 32px;
    color: #fae991;
    font-size: 26px;
}
.share_list li .time{
    line-height: 26px;
    color: #808080;
    font-size: 16px;
}
/*end experience*/




