<div class="nav_w">
	<div class="logo">
		
	</div>
	<div class="navbar clearfix" navbar ng-transclude>
		<a class="active green" color="green" href="javascript:;" ui-sref="index" >
			<span class="icon iconMy"></span>
			<span>my</span>
		</a>
		<a href="javascript:;" color="pink" ui-sref="index.page1" >
			<span class="icon iconMy"></span>
			<span>share</span>
		</a>
		<a href="javascript:;" color="purple" ui-sref="index.page2" >
			<span class="icon iconMy"></span>
			<span>experience</span>
		</a>
	</div>
</div>
