
/*public*/
body {
    min-width: 1200px;
}
@font-face {
    font-family: 'hw';
    src: url('../font/axurehandwriting_1-webfont.eot'); /* IE9*/
    src: url('../font/axurehandwriting_1-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/axurehandwriting_1-webfont.woff') format('woff'), /* chrome、firefox */
    url('../font/axurehandwriting_1-webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/axurehandwriting_1-webfont.svg#axurehandwriting_1-webfont') format('svg'); /* iOS 4.1- */
}
.clearfix{
	zoom: 1;
}
.clearfix:after {
	display: block;
	clear: both;
	content: '';
}
.fl {
	float: left;
}
.fr {
	float: right;
}
/*end public*/
/*导航*/
.nav_w {
	width: 100%;
	background: #fff;
	text-align: center;
	height: 78px;
	z-index: 10;
    position: fixed;
    box-shadow: 0 2px 5px 0px #fff;
    /*min-width: 1200px;*/
    position: relative;
}
.logo {
    position: absolute;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    left: 100px;
    background: #fff url(../images/logo.png) no-repeat center;
    background-size: 60px auto;
}
.navbar {
    display: inline-block;
	margin: 0 auto;
    padding-top: 10px;
}
.navbar>a {
	float: left;
	text-align: center;
    font-size: 30px;
    font-family: 'hw';
    padding: 0px 50px;
    font-weight: bold;
    transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
}
.navbar>a span {
    transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
}
.navbar>a span:nth-of-type(1){
    display: inline-block;
    width: 40px;
    height: 40px;
    
    /*display: none;*/
    transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
}
.navbar>a.active span:nth-of-type(1){
    /*display: block;*/
    transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);


}
.navbar>a span:nth-of-type(2){
    transform: translateY(-48px) scale(1);
    -webkit-transform: translateY(-48px) scale(1);
    -ms-transform: translateY(-48px) scale(1);
    -o-transform: translateY(-48px) scale(1);
    -moz-transform: translateY(-48px) scale(1);
    line-height: 54px;
    display: block;
    color: #53dbc2;
    transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;   
}
.navbar>a.active span:nth-of-type(2){
    transform: translateY(-30px) scale(.8);
    -webkit-transform: translateY(-30px) scale(.8);
    -o-transform: translateY(-30px) scale(.8);
    -moz-transform: translateY(-30px) scale(.8);
    -ms-transform: translateY(-30px) scale(.8);
}
.navbar>a.green span:nth-of-type(1){
    background: url(../images/my.png) no-repeat;
    background-size: 40px auto;
}
.navbar>a.pink span:nth-of-type(1){
    background: url(../images/share.png) no-repeat;
    background-size: 40px auto;
}
.navbar>a.purple span:nth-of-type(1){
    background: url(../images/exp.png) no-repeat;
    background-size: 35px auto;
}
.navbar>a.green span:nth-of-type(2){
    color: #53dbc2;
}
.navbar>a.pink span:nth-of-type(2){
    color: #f8c9c5;
}
.navbar>a.purple span:nth-of-type(2){
    color: #a392da;
}

/*end 导航*/
.main {
    padding-top: 80px;
    position: absolute;
    width: 100%;
    min-width: 1200px;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    -webkitbox-sizing: border-box;
    top: 0;
}
.home,.share,.experience {
    height: 100%;
    overflow: auto;
}

/*首页*/
.home {
    width: 100%;
    /*padding-top: 60px;*/
}
.homeWrap {
    background: url(../images/bg_index2.png) repeat-x;
    padding-top: 1px;
}
.home_top {
	width: 1100px;
	/*height: 600px;*/
    position: relative;
    margin: 0 auto;

}
.home_top a {
    width: 38px;
    height: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
}
.home_top a.arrow_left {
    left: -40px;
    background: url(../images/arrow_l.png) no-repeat;
}
.home_top a.arrow_right {
    right: -40px;
    background: url(../images/arrow_r.png) no-repeat;
}
.t_con_w {   
    width: 900px;
    height: 420px;
    /*background: #000;*/
    background: #D3FFF8;
    margin: 54px auto 0;
    position: relative;
}
.t_con {
    width: 1100px;
    height: 500px;
    background: url(../images/leaf_bg.png) no-repeat;
    background-size: 1100px 500px;
    position: absolute;
    margin-left: -100px;
    margin-top: -54px;
}
.t_con_list_w {
    width: 900px;
    height: 420px;
    /*background-color: rgba(0,0,0,.3);*/
    margin-left: 100px;
    margin-top: 54px; 
    overflow: hidden;
}
.t_con_list {
    width: 1800px;
    height: 420px;
    transition: .6s;
    -webkit-transition: .6s;
    -o-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;

}
.t_con_list li {
    float: left;
    width: 900px;
    height: 100%;
    position: relative;

}
.t_con_list li .homeTop_but{
    font-size: 20px;
    display: inline-block;
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    background: url(../images/icon_begin.png) no-repeat;
    left: 50%;
    top: 50%;
    margin-top: -75px;
    margin-left: -75px;
}
.home_mid {
    position: relative;
}
.home_mid .canvasWaveWrap {
    width: 900px;
    margin: 0 auto 120px;
}
.home_mid .canvasWaveWrap0 {
    width: 100%;
    height: auto;
    position: relative;
}

/* 首页下方的文字模块*/
.tech {
    position: absolute;
    max-width: 260px;
    padding: 0 15px;
    border-radius: 40px;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform: translateY(80px);
    -webkit-transform: translateY(80px); 
    -o-transform: translateY(80px); 
    -ms-transform: translateY(80px); 
    -moz-transform: translateY(80px); 
    opacity: 0.4;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    transition: all .8s;
    -webkit-transition: all  .8s;
    -o-transition: all  .8s;
    -ms-transition: all  .8s;
    -moz-transition: all  .8s;
    background-color: rgba(83,219,194,.6)


}
.techMove {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);


    transform: translateY(0px);
    -webkit-transform: translateY(0px); 
}
.tech .techIcon{
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: -40px;
      
}

.tech0 {
    left: 10px;
    top: 100px;
}
.tech1 {
    right: 10px;
    top: 300px;
}
.tech2 {
    left: 20px;
    top: 500px;
    
}
.tech3 {
    right: 50px;
    top: 700px;
    
}
.tech4 {
    left: 70px;
    top: 900px;
    
}
.tech5 {
    right: 90px;
    top: 1100px;
    
}
.tech6 {
    left: 110px;
    top: 1300px;
    
}

.tech1 .techIcon{
    /*background: #40bda8 url(../images/angular.png) no-repeat 10px 10px;*/
    /*background: #f6f5bf url(../images/node.png) no-repeat 0 20px;*/
    /*background-size: 80px auto;*/
    background-size: 60px auto;
}



.tech .techInfo{
    
    line-height: 30px;
    font-size: 20px;
    color: #fff;
    padding:10px;
    display: inline-block;
}



.authorPhoto {
    position: absolute;
    bottom: -108px;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: url(../images/photo.png) no-repeat;
    background-size: 100%  auto;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
}
.authorPhoto:hover {
    background: url(../images/photo1.png) no-repeat;
    background-size: 100%  auto;

}
.photoMove {
    animation: photoMove .8s linear alternate infinite;
    -webkit-animation: photoMove .8s linear alternate infinite;
}
@keyframes photoMove {
    100% {transform: translateY(0px);}
}
@-webkit-keyframes photoMove {
    100%{-webkit-transform: translateY(0px);}
}
@-o-keyframes photoMove {
    100%{-o-transform: translateY(0px);}
}
@-ms-keyframes photoMove {
    100%{-ms-transform: translateY(0px);}
}
@-moz-keyframes photoMove {
    100%{-moz-transform: translateY(0px);}
}
.authorPhoto img{
    width: 100%;
    height: 100%;
}

.authorInfo {
    /*position: absolute;
    bottom: -340px;
    left: 0;*/
    width: 100%;
}
.authorInfo p {
    text-align: center;
    font-size: 22px;
    color: #595959;

}
.authorInfo .big {
    font-family: 'hw';
    font-size: 30px;
    line-height: 60px;
}
.authorPhone {
    width: 100%;
    background-color: #53dbc2;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 24px;
    font-family: 'hw';
    color: #2E8A7B;
}

/*分享页*/
.share {
    background-color: #FBFBF8;
    position: relative;
}
.share_t {
    width: 100%;
    height: 430px;
    background: url(../images/share_bg1.png) no-repeat center ;
    background-size: 100% auto;
    /*border: 1px solid #000;*/
    padding: 1px 0;
}
.share_search_w {
    margin: 150px auto 0;
    border: 1px solid #fff;
    background: rgba(0,0,0,.2);
    width: 540px;
    height: 40px;
}
.share_search_w input {
    background: none;
    border:none;
    width: 85%;
    line-height: 36px;
    padding: 2px 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 18px;
    color: #fff;
}
.share_search_w a {
    width: 15%;
    height: 100%;
    background: url(../images/icon_search.png) no-repeat center ;

}
.splitLine {
    width: 100%;
    height: 30px;
    margin: 20px 0;
    background: url(../images/share_wave.png) repeat-x;

}
/*end share*/

/*experience*/
.experience {
    width: 100%;
    /*padding-top: 80px;*/
    /*background: url(../images/exp_bg.png);*/
    overflow: hidden;

}
.expWrap {
    width: 100%;
    height: 100%;
    position: relative;

}
.experience .canvasPlaneWrap {
    width: 900px;
    height: 100%;
    /*margin: 0 auto;*/
    position: absolute;
    left: 50%;
    margin-left: -450px;
}

.block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*transition: filter 2s, transform 1.5s;
    -webkit-transition: -webkit-filter 2s, -webkit-transform 1.5s;
    -o-transition: -o-filter 2s, -o-transform 1.5s;
    -moz-transition: -moz-filter 2s, -moz-transform 1.5s;
    -ms-transition: -ms-filter 2s, -ms-transform 1.5s;*/
    /*transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -o-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);*/
}
.blur {    
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px);    
}
.block1 {   
    /*background: #3385ff;*/
    /*background: #45d4bc;*/
    background: url(../images/exp_bg3.png) repeat-x;
    background-size: 1px 100%;
    /*transform: translateY(0);
    -webkit-transform: translateY(0);
    -webkit-transform: translateY(0);
    -webkit-transform: translateY(0);
    position: relative;*/
    
}
#canvasPlane {
    position: absolute;
    left: 0;
    top:0;
}
.blockWrap {
    width: 900px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.clouds {
    width: 100%;
    height: 100%;
    position: relative;
}
.clouds>div {
    top: 50%;
    left: 50%;
}
.cloud {
   width: 200px; 
   height: 200px; 
   margin-left: -100px;
   margin-top: -100px;
   background: url(../images/cloud1.png) no-repeat;
   background-size: 200px auto;
   position: absolute;
}
.cloudCon {
    line-height: 25px;
    color: #999;
    padding: 30px;
    font-size: 12px;
}



.expDetail {
    width: 300px;
    position: absolute;
}
.expDetail1 {
    left: 100px;
    top: 60px;
}
.expDetail2 {
    right: 100px;
    top: 300px;
}
.expDetail h3 {
    font-size: 18px;
    color: #666;
    line-height: 30px;
}
.expDetail p {
    text-indent: 2em;
    font-size: 14px;
    line-height: 24px;
    color: #999;
}
.tips {
    width: 180px;
    line-height: 40px;
    background: rgba(255,255,255,.6);
    color: #8c5094;
     position: absolute;
    top: 15px;
    left: 200px;
    border-radius: 6px;
    text-align: center;
}
.blockDot {
    width: 30px;
    height:90px;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    right: 20px; 
}
.blockDot a{
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    
    
}
.blockDot a span{
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    transition: .4s;
    -webkit-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    vertical-align: middle;
}
.blockDot a.active span {
    width: 12px;
    height: 12px;
}

.share_list{
    width: 1100px;
    margin:0 auto 20px;
    position: relative;
}
.share_list li{
    position: absolute;
    width: 263px;
    background-color: #fff;
    font-size: 12px;
    /*background-color: #fff;*/
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -webkit-transition: left .3s ease-in-out,top .3s ease-in-out;
    -moz-transition: left .5s ease-in-out,top .5s ease-in-out;
    -o-transition: left .3s ease-in-out,top .3s ease-in-out;
}
.share_list li a {
    display: block;
}
.share_list li img{
    width: 263px;
    height: auto;
    display: block;
}
.share_list li .info{
    /*height: 100px;*/
    padding: 25px 0;
    text-align: center;
    /*background-color: #f8c9c5;*/
}
.share_list li .title{
   /*line-height: 47px;*/
    color: #FFA79F;
    font-size: 20px;
}
.share_list li .time{
    line-height: 26px;
    color: #808080;
    font-size: 16px;
}
/*end experience*/

/*模态框*/
#modal-overlay{
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background: rgba(35,35,35,0.85);
    z-index: 0;
    overflow: hidden;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -webkit-transition-delay: 0.4s;
    -moz-transition: all 0.25s ease-in-out 0.4s;
    -o-transition: all 0.25s ease-in-out 0.4s;
    transition: all 0.25s ease-in-out 0.4s;
}
#modal-overlay.open {
    visibility: visible;
    z-index: 8;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transition: all 0.25s ease-in-out;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
}
#modal-overlay .angle-cover {
    display: block;
    position: absolute;
    width: 106%;
    left: -3%;
    height: 0;
    z-index: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    background-color: #f8c9c5;
}
#modal-overlay .angle-cover.before {
    top: 50%;
}
#modal-overlay .angle-cover.after {
    bottom: 50%;
}
#modal-overlay.open .angle-cover {
    height: 16%;
    padding: 1px;
    -webkit-transition: all 0.4s ease-in-out;
    -webkit-transition-delay: 0.25s;
    -moz-transition: all 0.4s ease-in-out 0.25s;
    -o-transition: all 0.4s ease-in-out 0.25s;
    transition: all 0.4s ease-in-out 0.25s;
}
#modal-overlay.open .angle-cover.before {
    top: 11.25%;
    -webkit-transform: rotate(2.15deg);
    -moz-transform: rotate(2.15deg);
    -ms-transform: rotate(2.15deg);
    -o-transform: rotate(2.15deg);
    transform: rotate(2.15deg); 
}
#modal-overlay.open .angle-cover.after {
    bottom: 11.25%;
    -webkit-transform: rotate(-2.15deg);
    -moz-transform: rotate(-2.15deg);
    -ms-transform: rotate(-2.15deg);
    -o-transform: rotate(-2.15deg);
    transform: rotate(-2.15deg);
}
#modal-overlay #modal-content {
    width: 100%;
    height: 0px;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 0;
    /*background-color: #f8c9c5;*/
    background-color: #f8c9c5;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-in-out;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
#modal-overlay.open #modal-content {
    height: 68%;
    top: 16%;
    overflow: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -webkit-transition-delay: 0.25s;
    -moz-transition: all 0.4s ease-in-out 0.25s;
    -o-transition: all 0.4s ease-in-out 0.25s;
    transition: all 0.4s ease-in-out 0.25s;
}
#modal-overlay #modal-content .close-modal {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background: url(../images/icon-close.png) center center no-repeat;
    background-size: 40px 40px;
    top: 0px;
    right: 39px;
    z-index: 10;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
}
#modal-overlay.open #modal-content .close-modal {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}
#modal-overlay.open #modal-content .close-modal:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
#modal-overlay #modal-content .single-contribution-wrapper, #modal-overlay #modal-content .contribute-form-wrapper {
    width: 100%;
    height: 0;
    position: relative;
    z-index: 5;
    overflow: hidden;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-in-out;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
#modal-overlay #modal-content .single-contribution-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
#modal-overlay.open #modal-content .single-contribution-wrapper, #modal-overlay.open #modal-content .contribute-form-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    /*height: auto;*/
    position: relative;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out;
    -webkit-transition-delay: 0.25s;
    -moz-transition: all 0.4s ease-in-out 0.25s;
    -o-transition: all 0.4s ease-in-out 0.25s;
    transition: all 0.4s ease-in-out 0.25s;
}

#modal-overlay #modal-content .single-contribution-wrapper .contribution-image, #modal-overlay #modal-content .single-contribution-wrapper .contribution-text {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    float: left;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
#modal-overlay #modal-content .single-contribution-wrapper .contribution-text {
    width: 55%;
    margin: auto;
    padding: 0 2.5%;
}
#modal-overlay #modal-content .single-contribution-wrapper .contribution-image {
    width: 45%;
    margin: auto;
    /*padding: 0 2.5%;*/
}
#modal-overlay #modal-content .single-contribution-wrapper .contribution-image a{
    display: block;
    width: 100%;
    height: 100%;
}
#modal-overlay #modal-content .single-contribution-wrapper .contribution-image img{
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin: 0 auto;

}
#modal-overlay #modal-content .single-contribution-wrapper .contribution-image p{
    text-align: center;
    line-height: 50px;
    color: #616161;
    font-size: 20px;
    font-weight: bold;
}
#modal-overlay.open #modal-content .single-contribution-wrapper .contribution-image, #modal-overlay.open #modal-content .single-contribution-wrapper .contribution-text, #modal-overlay.open #modal-content .single-contribution-wrapper .share-contribution, #modal-overlay.open #modal-content .contribute-form-wrapper .contribution-image, #modal-overlay.open #modal-content .contribute-form-wrapper .contribution-text, #modal-overlay.open #modal-content .contribute-form-wrapper .share-contribution {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
.content .single-contribution-wrapper .contribution-text .wrapper {
    text-align: center;
}

#modal-overlay #modal-content .single-contribution-wrapper .contribution-text .from{
    color: #616161;
    font-size: 14px;
}
#modal-overlay #modal-content .single-contribution-wrapper .contribution-text .from span{
    /*color: #241f21;*/

}
#modal-overlay #modal-content .single-contribution-wrapper .contribution-text .descrip{
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    color: #241f21;
    padding: 15px 40px 20px;

}
#modal-overlay #modal-content .single-contribution-wrapper .contribution-text .view p{
    font-size: 14px;
    color: #616161;
    line-height: 25px;
}
#modal-overlay #modal-content .single-contribution-wrapper .contribution-text .view a{
    color: #616161;
}
#modal-overlay #modal-content .single-contribution-wrapper .contribution-text .view img {
    width: 50px;
    height: 50px;
    background-color: #616161;
    margin-top: 4px;
    margin-left: 74px;
}
#modal-overlay #modal-content .single-contribution-wrapper .contribution-text .operation {
    text-align: center;
    padding-top: 15px;
}


#modal-overlay #modal-content .single-contribution-wrapper .contribution-text .operation a {
    display: inline-block;
    width: 60px;
    height: 20px;
    padding-top: 40px;
    border-radius: 50%;
    border: 1px solid #616161;
    background: url(../images/icon-praise.png) no-repeat 15px 10px;
    background-size: 30px auto;
    color: #616161;
}
#modal-overlay #modal-content .single-contribution-wrapper .contribution-text .operation a.active {
    color:#241f21 ;
    border: 1px solid #241f21;
    background: url(../images/icon-praise-a.png) no-repeat 15px 10px;
    background-size: 30px auto;
}
/*end 模态框*/




