<script type="text/javascript" src="js/minMartix.js"></script>
<script type="text/javascript" src="js/TweenMax.min.js"></script>
<div class="experience">
	<div class="expWrap">
		<div class="block block1 blur">
			<div class="blockWrap">
				<div class="expDetail expDetail1">
					<h3>关于一年的心得</h3>
					<p>就是一些技术分享历程啦啦啦啦啦了啦啦啦啦</p>
				</div>
				<div class="expDetail expDetail2">
					<h3>关于一年的心得</h3>
					<p>就是一些技术分享历程啦啦啦啦啦了啦啦啦啦</p>
				</div>				
			</div>
		</div>
		<div class="block block2">
			
			<div class="blockWrap">
				<div class="expDetail expDetail1">
					
				</div>
				<div class="expDetail expDetail2">
					
				</div>				
			</div>
		</div>
		<div class="block block3">
			<div class="blockWrap">
				<div class="expDetail expDetail1">
					
				</div>
				<div class="expDetail expDetail2">
					
				</div>				
			</div>
		</div>
		<div class="canvasPlaneWrap">
			<div canvas-plane></div>	
		</div>
		<div class="blockDot">

			<a class="active" href="javascript:;"><span></span></a>
			<a href="javascript:;"><span></span></a>
			<a href="javascript:;"><span></span></a>
		</div>
		
	</div>
</div>