<div class="home">
	<div class="homeWrap">
		<div class="home_top" homeTop>
			<a href="javascript:;" class="arrow_left"></a>
			<a href="javascript:;" class="arrow_right"></a>

			<div class="t_con_w">
				<div class="t_con">
					<div class="t_con_list_w">
						<ul class="t_con_list">
							<li>
								<a href="javascript:;" class="homeTop_but homeTop_but1"></a>
								<canvas canvasParticle></canvas>		
							</li>
							<li>
								<a href="javascript:;" class="homeTop_but homeTop_but2"></a>
								<canvas canvasLines></canvas>		
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="home_mid">
			<div class="canvasWaveWrap">
				<div class="canvasWaveWrap0">

					<canvas canvasWave></canvas>
					<canvas canvasStar></canvas>
					<a class="authorPhoto"  href="javascript:;"><img src="images/photo.png" /></a>
					<!-- <canvasWave></canvasWave>		 -->
				</div>
			</div>
		</div>
		
	</div>

</div>
	

