<!-- <div ui-view="navbar"></div> -->
<div class="main">
    <!-- <div ui-view="main" autoscroll style="height: 100%;position: relative;"></div> -->
	<!-- <ui-view name="main" autoscroll/> -->
	<div class="home" home>
		<div class="homeWrap">
			<div class="home_top" homeTop>
				<!-- <a href="javascript:;" class="arrow_left"></a>
				<a href="javascript:;" class="arrow_right"></a> -->

				<div class="t_con_w">
					<div class="t_con">
						<div class="t_con_list_w">
							<ul class="t_con_list">
								<li>
									<a href="javascript:;" class="homeTop_but homeTop_but1"></a>
									<canvas canvasParticle></canvas>		
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="home_mid">
				<div class="canvasWaveWrap">
					<div class="canvasWaveWrap0">
						<div>
							<div class="tech tech0">
								
								<span class="techInfo">这个个人网站主要采用了：</span>
							</div>
							<div class="tech tech1">
								
								<span class="techInfo">Yeoman构建前端自动化工作流</span>
							</div>
							<div class="tech tech2">
								
								<span class="techInfo">Angular为底层开发框架</span>
							</div>
							<div class="tech tech3">
								
								<span class="techInfo">Node和mongoDB数据库进行后台数据交互</span>
							</div>
							<div class="tech tech4">
								
								<span class="techInfo">原生Canvas编写动画框架和3D模型框架</span>
							</div>
							
							<div class="tech tech5">
								
								<span class="techInfo">RequireJS模块化开发，规范代码，提高运行速率</span>
							</div>
							<div class="tech tech6">
								
								<span class="techInfo">Fis3进行代码优化，产出上线版本</span>
							</div>
							
						</div>
						<!-- <canvas id="canvasHome" width="900"></canvas> -->
						<canvas canvasWave></canvas>
						<a class="authorPhoto photoMove"  href="javascript:;">
							<!-- <img src="images/photo.png" /> -->
						</a>
					</div>
				</div>
				<div class="authorInfo">
					<p>曾艳玲</p>
					<p>毕业于江西理工大学</p>
					<p>爱好前端开发并有一年颇为丰富的开发经验</p>
					<p>感性的优雅和理性的勤奋并存</p>
					<p>努力做一个开心简单的程序猿</p>
					<p class="big">Always on the road ...</p>

					<div  class="authorPhone ">
						TEL: 13535535860&nbsp&nbsp&nbsp&nbsp E-mail:939184663@qq.com 

					</div>
				</div>
			</div>
			
		</div>

	</div>
</div>