<div class="share">
	<div class="share_t">
		<div class="share_search_w clear">
			<input  class="fl" placeholder="个人" />
			<a class="fr" href="javascript:;"></a>
		</div>

	</div>
	<div class="splitLine"></div>
	<div shareDetails="shareDetails" sharePraise="sharePraise" waterfall>
		
	</div>

	<!-- <ul class="share_list">
		<li>
			<img src="images/content/1.png" />
			<div class="info">
				<div class="title">dddfsddfssd</div>
				<div class="time">一天前上传</div>
			</div>
		</li>
	</ul> -->
</div>
 <!-- class="open -->
<div id="modal-overlay" dataID="{{shareDetails._id || ''}}">
	<div class="angle-cover before">
		<div class="bg"></div>
	</div>
	<div id="modal-content">
		<a href="javascript:;" data-style="all" class="close-modal hijacked"></a>
		<div class="clearfix single-contribution-wrapper clearfix" >
			<div class="contribution-image">   
      
		        <a href="javascript:;" rel="external" target="_blank" class="nohijack">
		           <img src="{{shareDetails.image || ''}}" alt="">
		        </a>
	          	<p class="title">{{shareDetails.title || ''}}</p> 
		    </div>
			<div class="contribution-text">
				<div class="wrapper">
					<div class="from">
						来源:
						
						<span>{{shareDetails.from || ''}}</span>
					</div>

					<div class="descrip">
						{{shareDetails.describe || ''}}
					</div>
					<div class="view">
						<p>
							预览地址：
							<a href="{{shareDetails.href || ''}}" target="_blank">{{shareDetails.href || ''}}</a>
							
						</p>
						<img class="QRCode" src="{{shareDetails.qrCode || ''}}"/>
					</div>
					<div class="operation">
						<a href="javascript:;" class="icon icon-praise sharePraise {{sharePraise}} ">{{shareDetails.praiseNum || ''}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="angle-cover after">
		<div class="bg"></div>
	</div>
</div>
